<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body onload="window.print();">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
</body>
</html>
