<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--<add name="UTLRATE_Entities" connectionString="metadata=res://*/DBCon.UTLRATE.csdl|res://*/DBCon.UTLRATE.ssdl|res://*/DBCon.UTLRATE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.150.98;initial catalog=UTLRATE;persist security info=True;user id=euro_admin;password=Sonoda@it;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="UTLRATE_Entities" connectionString="metadata=res://*/DBCon.UTLRATE.csdl|res://*/DBCon.UTLRATE.ssdl|res://*/DBCon.UTLRATE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={0};initial catalog=UTLRATE;persist security info=True;user id=SNOS;password=SNOS@coilline;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>